name: crud_ops
on: 
  push:
    branches:
      - 'xq-link'
defaults:
  run:
    shell: bash
jobs:
  xqerl-cli-crud-ops:
    runs-on: ubuntu-latest
    defaults: 
      run:
        shell: bash
    services:
       xq:
        image: grantmacken/alpine-xqerl
        ports:
          - 8081:8081
        #volumes: static-assets:/user/local/priv/static/assets'
        #also env 
        options: >-
          --name xq
          --mount "type=volume,target=/user/local/xqerl/priv/static/assets,source=static-assets"
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: check xq container
        run: |
          docker ps
          source .env
          echo -n ' - ${RUN_NAME} running: ' 
          docker container inspect -f '{{.State.Running}}' ${RUN_NAME}
          echo -n ' - xqerl application all started: '
          docker exec xq xqerl eval 'application:ensure_all_started(xqerl).' | grep -oP 'ok'
          docker volume list
