name: CI
on: 
  push:
    branches:
      - 'main'
jobs:
  xqerl-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: list make commands
        run: |
          echo ' list all available "make" commands'
          echo '> make'
          make
          printf %60s | tr ' ' '-' && echo
      - name: Set up local bin
        run: |
          mkdir -p $HOME/.local/bin
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          pushd $HOME/.local/bin && ln -s ${GITHUB_WORKSPACE}/bin/xq && popd
          which xq
      - name: Github login in and pull helper github packages
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com --username ${GITHUB_ACTOR} --password-stdin &> /dev/null
          make pull
          echo -n ' - check available: '
          docker images | grep -oP 'alpine-zopfli'
      - name: Start running xqerl in a container
        run: |
          printf %60s | tr ' ' '-' && echo
          echo '> make'
          make up
          printf %60s | tr ' ' '-' && echo
      - name: xqerl database CRUD ops
        run: |
          echo ' - `xq put {domain-path}` will store a data source as a db *XDM item*'
          echo ' - from file put XDM item into db' 
          echo ' - all *data* sources are located in the "./src/data/" directory'
          echo ' -  param {domain-path} is the path from "./src/data"'
          echo ' - a "domain" must be included the {domain-path),'
          echo ' - like "example.com/path-to-resource.xml" or "src/data/example.com/examples/employees.xml"'
      - name:  store xml documents as a document node item'
        run: |
          echo '> xq put example.com/examples/employees.xml'
          xq put example.com/examples/employees.xml
          printf %60s | tr ' ' '-' && echo
          echo ' - store colors.json as a array(*) item'
          echo '> xq put example.com/examples/colors.json'
          xq put example.com/examples/colors.json
          printf %60s | tr ' ' '-' && echo
          echo ' - store mildred.json as a map(*) item'
          echo '> xq put example.com/examples/mildred.json'
          xq put example.com/examples/mildred.json
          printf %60s | tr ' ' '-' && echo
          echo ' - store mildred.json as a map(*) item'
          echo '> xq put example.com/examples/mildred.json'
          xq put example.com/examples/mildred.json
          printf %60s | tr ' ' '-' && echo
      - name: Stop running xqerl
        run: | 
          make down
          printf %60s | tr ' ' '-' && echo
