name: db_crud_ops
on: 
  push:
    branches:
      - 'xq-update'
jobs:
  xqerl-cli-crud-ops:
    runs-on: ubuntu-latest
    services:
       xq:
        image: grantmacken/alpine-xqerl
        ports:
        - 8081:8081
        # volumes: also env 
        options: --name xq
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Set up local bin
        shell: bash
        run: |
          mkdir -p $HOME/.local/bin
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          pushd $HOME/.local/bin && ln -s ${GITHUB_WORKSPACE}/bin/xq && popd
          which xq
          xq
      - name: check xq container
        shell: bash
        run: |
          docker ps
    
