name: db_crud_ops
on: 
  push:
    branches:
      - 'main'
jobs:
  xqerl-cli-crud-ops:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Set up local bin
        run: |
          mkdir -p $HOME/.local/bin
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          pushd $HOME/.local/bin && ln -s ${GITHUB_WORKSPACE}/bin/xq && popd
          which xq
      - name: Github login in and pull helper github packages
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com --username ${GITHUB_ACTOR} --password-stdin &> /dev/null
          source .env
          docker pull docker.pkg.github.com/grantmacken/alpine-xqerl/xq:${GHPKG_VER} &> /dev/null
          docker pull docker.pkg.github.com/grantmacken/alpine-scour/scour:0.0.2 &> /dev/null
          docker pull docker.pkg.github.com/grantmacken/alpine-zopfli/zopfli:0.0.1 &> /dev/null
          docker pull docker.pkg.github.com/grantmacken/alpine-cmark-gfm/cmark-gfm:0.29.0 &> /dev/null
          echo -n ' - check available: '
          docker images | grep -oP 'alpine-xqerl'
          echo -n ' - check available: '
          docker images | grep -oP 'alpine-scour'
          echo -n ' - check available: '
          docker images | grep -oP 'alpine-zopfli'
          echo -n ' - check available: '
          docker images | grep -oP 'alpine-cmark-gfm'
      - name: Start running xqerl in a container
        run: |
          printf %60s | tr ' ' '-' && echo
          echo '> make'
          make up
          printf %60s | tr ' ' '-' && echo
      - name: xq commands check
        run: |
          echo ' - xq CRUD database actions [ put list available get delete link  ] '
          printf %60s | tr ' ' '=' && echo
          echo ' - all *data* sources are located in the "./src/data/" directory'
          echo ' - *data* source starts with a {domain}.'
          echo ' - `xq put {data-path}` will store a data source as a db XDM item'
          echo '> xq put example.com/examples/employees.xml'
          xq put example.com/examples/employees.xml
          echo '> xq put example.com/examples/colors.json'
          xq put example.com/examples/colors.json
          echo '> xq put example.com/examples/mildred.json'
          xq put example.com/examples/mildred.json
          xq put example.com/content/index.md
      - name: Stop running xqerl
        run: | 
          make down
          printf %60s | tr ' ' '-' && echo
