name: crud_ops
on: 
  push:
    branches:
      - 'xq-link'
jobs:
  xqerl-cli-crud-ops:
    runs-on: ubuntu-latest
    services:
       xq:
        image: grantmacken/alpine-xqerl
        ports:
          - 8081:8081
        volumes: 
          - 'type=volume,target=/user/local/priv/static/assets,source=static-assets'
        #also env 
        options: --name xq
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: check xq container
        shell: bash
        run: |
          docker ps
          source .env
          echo -n ' - ${RUN_NAME} running: ' 
          docker container inspect -f '{{.State.Running}}' ${RUN_NAME}
          echo -n ' - xqerl application all started: '
          docker exec xq xqerl eval 'application:ensure_all_started(xqerl).' | grep -oP 'ok'
          docker volume list
