name: CI
on: 
  push:
    branches:
      - 'main'
jobs:
  xqerl-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: list make commands
        run: |
          echo ' list all available "make" commands'
          echo '> make'
          make
          printf %60s | tr ' ' '-' && echo
      - name: Set up local bin
        run: |
          mkdir -p $HOME/.local/bin
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          pushd $HOME/.local/bin && ln -s ${GITHUB_WORKSPACE}/bin/xq && popd
          which xq
      - name: Github login in and pull helper github packages
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com --username ${GITHUB_ACTOR} --password-stdin &> /dev/null
          make pull
          echo -n ' - check available: '
          docker images | grep -oP 'alpine-zopfli'
      - name: Start running xqerl in a container
        run: |
          printf %60s | tr ' ' '-' && echo
          echo '> make'
          make up
          printf %60s | tr ' ' '-' && echo
      - name: list xq commands
        run: |
          printf %60s | tr ' ' '-' && echo
          echo ' list "xq" available commands'
          echo '> xq'
          xq
          printf %60s | tr ' ' '-' && echo
      - name: xq query command
        run: |
          echo ' - parse and run a simple xQuery expression' 
          echo ' - xq query: requires 1 param {string}'
          echo ' - where param {string} is a xQuery expression'
          echo ' - query command examples' 
          printf %60s | tr ' ' '-' && echo
          echo "> xq query 'current-date() => string()'"
          bin/xq query 'current-date() => string()'
          printf %60s | tr ' ' '-' && echo
      - name: xq compile command
        run: |
          echo ' - compile xQuery *main* and *library* modules' 
          echo ' - xq compile: requires 1 param {file-name}'
          echo ' - compile command examples' 
          printf %60s | tr ' ' '-' && echo
          echo ' - compile a main-module'
          echo '> xq compile turtles.xq'
          xq compile turtles.xq
          echo && printf %60s | tr ' ' '-' && echo
      - name: xq run command
        run: |
          echo ' - compile and run xQuery main-module with external arg' 
          echo ' - xq run: requires 2 params {name}.xq {arg}'
          echo ' - run command examples' 
          printf %60s | tr ' ' '-' && echo
          echo '> xq compile turtles.xq'
          bin/xq compile turtles.xq
          printf %60s | tr ' ' '-' && echo
          echo '> xq run turtles.xq turtles'
          bin/xq run turtles.xq elephants
          printf %60s | tr ' ' '-' && echo
      - name: xq call command
        run: |
          echo ' - call xqerl erlang expressions' 
          echo ' - call command examples' 
          printf %60s | tr ' ' '-' && echo
          echo '> xq call xqldb_db_server exists http://example.com'
          xq call xqldb_db_server exists http://example.com
          printf %60s | tr ' ' '-' && echo
      - name: xq eval command        
        run: |
          echo ' - evaluate available xqerl erlang expressions'
          echo ' - eval command examples' 
          printf %60s | tr ' ' '-' && echo
          echo ">  xq eval 'calendar:local_time().'"
          xq eval 'calendar:local_time().'
          printf %60s | tr ' ' '-' && echo
      - name: xq shell command
        run: |
          echo ' - run alpine busybox shell commands ' 
          echo ' - eval command examples' 
          printf %60s | tr ' ' '-' && echo
          echo ">  bin/xq  sh 'date -I'"
          bin/xq  sh 'date -I'
          printf %60s | tr ' ' '-' && echo
      - name: Stop running xqerl
        run: | 
          make down
          printf %60s | tr ' ' '-' && echo
